.loading-mask {
  background: rgba(48, 52, 53, 0.8);
}

.loading-mask,
.loading-mask .loader>.loadercircle {
  bottom: 0;
  left: 0;
  margin: auto;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9900;
}

.text-container {
  position: fixed;
  top: 50%;
  text-align: center;
  width: 100%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.modal-hidden-error {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 4s, opacity 8s linear;
}

.modal-hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.text-container>div.loader-tip {
  /* color: red; */
  color: white;
  font-size: 1.6rem;
  font-weight: bold;
  /* text-transform: uppercase; */
}

.text-container>div.loader-error {
  color: white;
  font-size: 2rem;
  background-color: #de6277;
  width: 600px;
  margin: auto;
}