.cart-empty {
  box-sizing: border-box;
  margin: 50px 0 100px 0;
  padding: 0;
}

.cart-title {
  margin-top: 10px;
}

.el-center {
  text-align: center;
}

.order-submit {
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.to-checkout-button {
  display: inline-block;
  background-color: #f44336;
  color: #FFFFFF;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin-left: 20px;
  opacity: 0.9;
}