.card {
  margin-bottom: 1.5rem;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #c8ced3;
  border-radius: 0.25rem;
}

.card-header:first-child {
    border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-header {
    padding: 0.75rem 1.25rem;
    margin-bottom: 0;
    color: inherit;
    background-color: #f0f3f5;
    border-bottom: 1px solid #c8ced3;
}
.collapse:not(.show) {
  display: none;
}
.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}
.card-header-actions {
  display: inline-block;
  float: right;
  margin-right: -0.25rem;
}
a.nav-link {
  display: block;
  padding: 0.5rem 1rem;
}