$backgroundColor: #600BD2;
$backgroundColor2: rgb(148, 97, 214);

.cart-dropdown {
    padding: 10px;
    overflow: hidden;

    @media only screen and (max-width: 479px) {
        width: 290px;
        right: -100px;
    }

    .cart-summary {
        color: #000;
        border-top: 1px solid #e4e7ed;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .cart-btns>a:hover {
        opacity: 0.9;
    }

    .cart-list {
        max-height: 180px;
        overflow-y: scroll;
        margin-bottom: 15px;

        .product-widget {
            padding: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .product-widget:last-child {
            margin-bottom: 0px;

            .product-img {
                left: 0px;
                top: 0px;
            }

            .product-body {
                .product-price {
                    color: #2b2d42;
                }
            }
        }
    }

    .cart-btns {
        margin: 0px -17px -17px;
    }

    .cart-btns>button {
        margin-left: 5px;
        display: inline-block;
        width: calc(48% - 0px);
        padding: 12px;
        background-color: #d10024;
        color: #fff;
        text-align: center;
        font-weight: 700;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    .cart-btns>button:first-child {
        margin-right: -4px;
        background-color: $backgroundColor;
    }
}


.product-widget {
    position: relative;
}

.product-widget+.product-widget {
    margin: 30px 0px;
}

.product-widget .product-img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 60px;
}

.product-widget .product-img>img {
    width: 100%;
}

.product-widget .product-body {
    padding-left: 75px;
    min-height: 60px;
}

.product-widget .product-body .product-category {
    text-transform: uppercase;
    font-size: 10px;
    color: #8d99ae;
}

.product-widget .product-body .product-name {
    text-transform: uppercase;
    font-size: 12px;

}

.product-widget .product-body .product-name>a {
    font-weight: 700;
}

.product-widget .product-body .product-name>a:hover,
.product-widget .product-body .product-name>a:focus {
    color: #d10024;
}

.product-widget .product-body .product-price {
    font-size: 14px;
    color: #d10024;
}

.product-widget .product-body .product-price .product-old-price {
    font-size: 70%;
    font-weight: 400;
    color: #8d99ae;
}

.product-widget .product-body .product-price .qty {
    font-weight: 400;
    margin-right: 10px;
}

.product-widget .delete {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    width: 14px;
    text-align: center;
    font-size: 10px;
    padding: 0;
    background: $backgroundColor;
    border: none;
    color: #fff;
}
