$backgroundColor: rgb(148, 97, 214);
$backgroundColor2: rgb(148, 97, 214);

.cart-dropdown {
    @media only screen and (max-width: 479px) {
        width: 290px;
        right: -100px;
    }

    .cart-summary {
        color: #000;
        border-top: 1px solid #e4e7ed;
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .cart-btns>a:hover {
        opacity: 0.9;
    }

    .cart-list {
        max-height: 180px;
        overflow-y: scroll;
        margin-bottom: 15px;

        .product-widget {
            padding: 0px;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .product-widget:last-child {
            margin-bottom: 0px;

            .product-img {
                left: 0px;
                top: 0px;
            }

            .product-body {
                .product-price {
                    color: #2b2d42;
                }
            }
        }
    }

    .cart-btns {
        margin: 0px -17px -17px;
    }

    .cart-btns>a {
        display: inline-block;
        width: calc(50% - 0px);
        padding: 12px;
        background-color: #d10024;
        color: #fff;
        text-align: center;
        font-weight: 700;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    .cart-btns>a:first-child {
        margin-right: -4px;
        background-color: $backgroundColor;
    }
}
