@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        margin: 0;

        li {
            float: left;

            .menu-item {
                position: relative;
                display: block;
            }
        }
    }
}

.nav {
    padding-left: 0;
    list-style: none;

    li {
        position: relative;
        display: block;
    }
}


ul.navbar-nav>li.dropdown {
    position: inherit;
}

.navbar-nav {
    .sub-nav {
        // display: none;
        position: absolute;
        background-color: #8636f1fc;
        width: 100%;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1003;
        left: 0;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 120px;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s 0.1s, opacity 0.1s linear;

        li {
            display: inline-flex;
            width: 25%;
            margin-left: 30px;

            a {
                font-size: 18px;
                color: rgb(230, 223, 223);
            }
        }
    }

    .sub-nav.level-1 {
        display: grid !important;
        padding-top: 30px;
        position: relative;
        box-shadow: none;
        padding-left: 60px;

        li {
            margin-left: 0;
            width: 100%;
        }
    }

    .dropdown:hover {
        background-color: #8636f1fc;
        padding-left: 5px;
        padding-right: 5px;
        // font-weight: bold;

        .sub-nav {
            visibility: unset;
            display: block;
            opacity: 1;
        }
    }

    li>.menu-item {
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    li+li {
        margin-left: 10px;
    }

    a.menu-item {
        text-decoration: none;
    }
}
