// #root {
//     overflow-x: hidden !important;
// }

.pagedata-loader-container {
    width: 100%;
    height: 60%;
    text-align: center;
    background: rgba(241, 245, 247, 0.6);

    .pagedata-loader {
        margin-top: 15%;
    }
}

.hidden-element {
    display: none;
}
