.store-sort {
    float: left;
    padding-left: 20px;
}

.store-grid {
    float: right;

    li {
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 40px;
        background-color: #fff;
        border: 1px solid #e4e7ed;
        text-align: center;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
    }

    li.active {
        background-color: #d10024;
        border-color: #d10024;
        color: #fff;
        cursor: default;
    }
}
