.product-name {
    font-size: 2em;
}

.product-price {
    font-size: 1.2em;
}

.product-available {
    font-size: 1.2em;
    margin-left: 30px;
}

.products {
    margin: 30px 0;
}

@media (min-width: 1024px),
print {
    .products-list .products-grid .product-items {
        margin: 0;
    }

    .column.main .product-items {
        margin-left: -20px;
    }

    .items {
        margin: 0;
        padding: 0;
        list-style: none none;
    }
}

.products-list .products-grid .product-item:nth-child(4n + 1) {
    margin-left: 0;
}

@media (min-width: 1024px),
print {
    .products-list .products-grid .product-item {
        margin-left: calc((100% - 4 * 24.439%) / 3);
        padding: 0;
        width: 24.439%;
    }

    .products-list .products-grid .product-item {
        width: 33.33333333%;
    }
}

@media (min-width: 640px) {

    .products-list .products-grid .product-item,
    .page-layout-1column .products-grid .product-item,
    .page-layout-3columns .products-grid .product-item,
    .products-list.page-layout-1column .products-grid .product-item,
    .products-list.page-layout-3columns .products-grid .product-item {
        width: 33.33333333%;
    }

    .column.main .product-item {
        padding-left: 20px;
    }

    .products-grid .product-item {
        margin-bottom: 20px;
    }

    .products-grid .product-item {
        display: inline-block;
        width: 50%;
    }
}


@media (min-width: 1024px),
print {
    .products-grid .product-item {
        width: 20%;
    }
}

.product-item {
    vertical-align: top;
}

.product-item-info {
    max-width: 100%;
    width: 152px;
}

.products-list .product-item-info {
    width: 240px;
}

.product-item-name {
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -webkit-hyphens: auto;
    display: block;
    hyphens: auto;
    margin: 5px 0;
    word-wrap: break-word;
}

.product-item-name,
.product.name a {
    font-weight: 400;
}

@media (min-width: 768px),
print {
    .product-reviews-summary {
        margin-bottom: 15px;
    }
}


.product-reviews-summary {
    margin-bottom: 5px;
}

.product-item .price-box {
    margin: 10px 0 25px;
}

.tab-pane {
    padding: 20px 40px 25px 40px;
}
