/*
$green: #00b366;
$primary: $green;
$link: #000;

$tag-background-color: #ffdd57;
$tag-color: rgba(0, 0, 0, 0.7);
$tag-radius: 3px;

$breadcrumb-item-color: #7a7a7a;
$breadcrumb-item-separator-color: #7a7a7a;

$ig-blue: #636363 !default;
*/
@import "checkout.scss";
@import "cart.scss";
@import "minicart.scss";
@import "header.scss";
@import "footer.scss";
@import "category.scss";
@import "product.scss";
@import "productlist.scss";
@import "page.scss";
@import "imageslider.scss";
@import "addressform.scss";
@import "navigator.scss";
@import "dynamicattributefilter.scss";
@import "custom.scss";