<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
</head>

<body>
    <script>
        window.zento = Object.assign({}, {
            server: "http://alphazento.local.test",
            image_server: "http://alphazento.local.test/images/catalog",
            // configs: {
            //     ga: {
            //         id: "UA-50234091-1",
            //         enabled: true,
            //         plugins: ['ec']
            //     },
            //     use_query_search: true,
            //     
            // }
        }, window.zento || {});

    </script>
    <div id="root"></div>
</body>
